/*
 * Empty Stylesheet file.
 */

.login-bg{
    -fx-background-color:#EAE7D6;
}
.txtfiled-design{
    -fx-background-radius:20px;
    -fx-border-radius:20px;
    -fx-text-inner-color:#000;
}
.button-design{
    -fx-background-color:#5D7B6F;
    -fx-background-radius:20px;
    -fx-border-radius:20px;
    -fx-text-fill:#fff;
    -fx-cursor:hand;
    -fx-text-font:"Blackadder ITC";
    -fx-text-size:30;
    
}